* {
  user-select: none;
}
.header img{
    height: 50px;
    width:50px;
}
.header a{
    font-size: 1.4em;
    color: cadetblue;
    text-decoration: none;
    cursor: pointer;
    padding: 0px;
}
.btn-sm
{
    background-color: cadetblue;
}
.footerCodebus{
    height: 50px;
    background-color: black;
    width: 100%;
}
.backgroundbus{
    height: 600px;
    width: 100%;

}
.busimage{
    height: 600px;
    width: 100%;
      margin: 0px;
   padding: 0px;
}
.intro-header {
height: 600px;
margin: 0px;
text-align: center;
background: url('../Content/Images/background.jpg') no-repeat center center fixed;
background-size: cover;

}
.bg-overlay {
background:rgba(0,0,0, 0.5);
opacity: 2.0;
height: 600px;
margin: 0px;
padding: 0px;
}

.intro-message {
position: relative;
padding-top: 20%;
padding-bottom: 20%;
}
/*Big header*/
.intro-message > h1 {
margin-top: -90px;
font-size: 5em;
color: rgba(255, 255, 255, 1.0);
}
.intro-divider {
margin-left: 620px;
margin-bottom: 50px;
width: 70px;
border-top: 3px solid cadetblue;
border-bottom: 3px solid rgba(0,0,0,0.2);
}
/*small header*/
.intro-message > h3 {
text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
color: cadetblue;
}
.footerpara{
    color: white;
    float: right;
    margin-top: 15px;

}
.companyname{
    color: darkorange;
}
nav{
    height: 55px;
}
.container-fluid{
    margin-top: 5px;
}
.row{
    width:100%;
    align-items: center;
}
.btnfind{
    background-color: coral;
    border: 2px solid coral;
    border-radius: 4px;
    margin-top: 30px;
    color: white;
    margin-right: 40px;
    height: 40px;
}
.social{
    margin-top: 10px;
}
