* {
  user-select: none;
}
.header img {
  height: 50px;
  width: 50px;
}
.header a {
  font-size: 1.4em;
  color: #5f9ea0;
  text-decoration: none;
  cursor: pointer;
  padding: 0px;
}
.btn-sm {
  background-color: #5f9ea0;
}
.backgroundbus {
  height: 600px;
  width: 100%;
}
.busimage {
  height: 600px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.intro-header {
  height: 600px;
  margin: 0px;
  text-align: center;
  background: url("../Content/Images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}
.bg-overlay {
  background: rgba(0,0,0,0.5);
  opacity: 2;
  height: 600px;
  margin: 0px;
  padding: 0px;
}
.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}
/*Big header*/
.intro-message > h1 {
  margin-top: -90px;
  font-size: 5em;
  color: #fff;
}
.intro-divider {
  margin-left: 620px;
  margin-bottom: 50px;
  width: 70px;
  border-top: 3px solid #5f9ea0;
  border-bottom: 3px solid rgba(0,0,0,0.2);
}
/*small header*/
.intro-message > h3 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  color: #5f9ea0;
}
nav {
  height: 55px;
}
.container-fluid {
  margin-top: 5px;
}
.row {
  width: 100%;
  align-items: center;
}
.btnfind {
  background-color: #ff7f50;
  border: 2px solid #ff7f50;
  border-radius: 4px;
  margin-top: 30px;
  color: #fff;
  margin-right: 40px;
  height: 40px;
}
.footerCodebus {
  height: 50px;
  background-color: #000;
  width: 100%;
}
.footerCodebus .social {
  margin-top: 10px;
  margin-left: 12px;
}
.footerCodebus .footerpara {
  font-size: 1.2em;
  color: #fff;
  float: right;
  margin-top: 15px;
}
.footerCodebus .footerpara .companyname {
  color: #ff8c00;
}
.footerCodebus .footerpara span {
  margin-right: 30px;
}
